---
interface Props {
  breed: string;
  content: string;
  name: string;
  website: string;
}

const { breed, content, name, website } = Astro.props;
---

<hr />
<div class="my-4">
  <p class="font-bold">{name} is a {breed}.</p>
  <p>{content}"</p>
  <!-- <p set:html="{content}" /> -->
  <a href={website}>American Kennel Club</a>
</div>
